<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<div class="form-group">
  <label>Title</label>
  <input type="text" id="title" class="form-control" name="title" placeholder="Title of your event" value="<%= @title%>">
</div>
<div class="form-group">
  <label>Summary</label>
  <input type="text" id="summary" class="form-control" name="summary" placeholder="Describe your event in one sentence" value="<%= @summary%>">
</div>
<div class="form-group">
  <label>Description</label>
  <textarea class="form-control" id="description" rows="10" name="description" placeholder="Details about your event"><%= @description%></textarea>
</div>
<div class="row">
  <div class="form-group col-md-4">
    <label>Date</label>
    <input type="text" id="date" class="form-control" name="date" placeholder="DD-MM-YYYY" value="<%= @date%>">
  </div>
  <div class="form-group col-md-4">
    <label>Time</label>
    <input type="text" id="time" class="form-control" name="time" placeholder="7:00 PM" value="<%= @time%>">
  </div>
</div>
<div class="form-group">
  <label style="padding-right: 50px;">Venue</label>
  <%= hidden_field_tag 'map_lat'%>
  <%= hidden_field_tag 'map_lng'%>
  <input type="text" id="venue" class="form-control" name="venue" placeholder="Where the event is at" value="<%= @venue%>"><br>
  <div style="margin-top:10px"></div>
  <div id="map" style="width:100%;height:480px;"></div>
  <%= hidden_field_tag 'usemap', ''%>
  <%= check_box_tag 'usemap', checked = true%> Save Location<i> (Check this box if you want to save the location you have chosen on the map)</i>
</div>

