<table class="table table-bordered">

  <thead>
  <tr>
    <th class="col-md-1">id</th>
    <th class="col-md-6">Event</th>
    <th class="col-md-2">When</th>
    <th class="col-md-2">Venue</th>
    <th class="col-md-2"></th>
  </tr>
  </thead>

  <tbody>
  <% @events.each do |event|%>
      <tr>
        <th scope="row"><%=event.id%></th>
        <td>
          <div class="table-row-text"><b>Title: </b><%=event.title%></div>
          <div class="table-row-text"><b>Description: </b><%=event.summary%></div>
          <b>By: </b><%=event.host%>
        </td>
        <td>
          <b>Date:</b> <%=event.time.strftime("%d %b %Y")%><br>
          <b>Time:</b> <%=event.time.strftime("%I %M %p")%><br>
        </td>
        <td><div class="table-row-text"> <%=event.venue%></div></td>
        <td>
          <%= load_btn @btn1, event.id%>
          <%= load_btn @btn2, event.id%>
        </td>
        </div>
    </tr>
  <% end%>
  </tbody>

</table>