<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>
            <%=@event.title%> <small>By <%=@event.host%></small>
          </h1>
        </div>
        <dl class="dl-horizontal">
          <dt>
            Summary
          </dt>
          <dd>
            <%=@event.summary%>
          </dd>
          <dt>
            Description
          </dt>
          <dd>
            <%=@event.description%>
          </dd>
          <dt>
            Date
          </dt>
          <dd>
            <%=@event.time.strftime("%A, %d %b %Y")%>
          </dd>
          <dt>
            Time
          </dt>
          <dd>
            <%=@event.time.strftime("%I %M %p")%>
          </dd>
          <dt>
            Venue
          </dt>
          <dd>
            <%=@event.venue%>
          </dd>
          <dt>
            Participants
          </dt>
          <dd>
            <%= @event.size%> <button class="btn-link" data-toggle="modal" data-target="#myModal">View</button>
          </dd>
        </dl>
      </div>
    </div>

  <div id="map" style="width:100%;height:480px;"></div>
  <!-- This is to leave a gap between the divs -->
  <div style="margin-top:60px"></div>

  <div class="row">
    <div class="col-md-4 pull-right">
    <%= load_btn "join", @event%>
    <a class="btn btn-default col-md-6" href="/" role="button">Back</a>
    </div>
  </div>


  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Participants</h4>
        </div>
        <div class="modal-body">
            <div id="host"><%= @event.host%> <span class="glyphicon glyphicon-star"></span></div>
            <% @users.each do |u|%>
                <div><%= u.name%></div>
            <% end%>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default col-md-4 pull-right" data-dismiss="modal">Close</button>
          <a class="btn btn-primary col-md-4 pull-right" href="/events/join/<%= @event.id%>" role="button">Join</a>
        </div>
      </div>
    </div>
  </div>

</div>

<script>
    $(document).ready(function(){
        var loc = <%= raw @event.to_json%>;
        if(loc.lat == null || loc.lng == null){
            $('#map').remove();
        } else {
            gmap_show(loc);
        }
    });
</script>