<!DOCTYPE html>
<html>
	<head>
		<title>Nushost</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<!--Navigation bar-->
	<%= load_nav_bar %>
	<body>
		<%= load_flash_loginfail %>
		<%= yield %>
	</body>

	<!--Footer-->
	<%= render :partial => 'shared/footer' %>
</html>
